USE [master]
GO
/****** Object:  Database [grocerseeker]    Script Date: 18/07/2026 10:28:21 ******/
CREATE DATABASE [grocerseeker]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'grocerseeker', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\grocerseeker.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'grocerseeker_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\grocerseeker_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [grocerseeker].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [grocerseeker]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 18/07/2026 10:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] NOT NULL,
	[name] [varchar](255) NULL,
	[is_active] [smallint] NULL,
	[created_at] [datetime2](0) NULL,
	[updated_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 18/07/2026 10:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] NOT NULL,
	[vendor_id] [int] NULL,
	[product_name] [varchar](255) NULL,
	[category_id] [int] NULL,
	[unit_type] [varchar](255) NULL,
	[price_per_unit] [decimal](10, 0) NULL,
	[unit_stock] [float] NULL,
	[is_active] [smallint] NULL,
	[created_at] [datetime2](0) NULL,
	[updated_at] [datetime2](0) NULL,
	[deleted_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transactions]    Script Date: 18/07/2026 10:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transactions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vendor_id] [int] NULL,
	[customer_id] [int] NULL,
	[product_id] [int] NULL,
	[quantity] [float] NULL,
	[total_price] [decimal](10, 0) NULL,
	[delivery_cost] [decimal](10, 0) NULL,
	[status] [varchar](255) NULL,
	[created_at] [datetime2](0) NULL,
	[updated_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 18/07/2026 10:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] NOT NULL,
	[phone_number] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[password] [varchar](100) NULL,
	[cust_active] [smallint] NULL,
	[vendor_active] [smallint] NULL,
	[cust_name] [varchar](255) NULL,
	[cust_address] [varchar](max) NULL,
	[cust_latitude] [float] NULL,
	[cust_longitude] [float] NULL,
	[vendor_name] [varchar](255) NULL,
	[vendor_address] [varchar](max) NULL,
	[vendor_latitude] [float] NULL,
	[vendor_longitude] [float] NULL,
	[created_at] [datetime2](0) NULL,
	[updated_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[categories] ([id], [name], [is_active], [created_at], [updated_at]) VALUES (1, N'production', 1, CAST(N'2024-08-15T12:57:30.0000000' AS DateTime2), CAST(N'2024-08-15T12:57:33.0000000' AS DateTime2))
INSERT [dbo].[categories] ([id], [name], [is_active], [created_at], [updated_at]) VALUES (2, N'dairy', 0, CAST(N'2024-08-15T12:58:32.0000000' AS DateTime2), CAST(N'2024-08-15T12:58:32.0000000' AS DateTime2))
INSERT [dbo].[categories] ([id], [name], [is_active], [created_at], [updated_at]) VALUES (3, N'meat', 1, CAST(N'2024-08-15T12:58:49.0000000' AS DateTime2), CAST(N'2024-08-15T12:58:50.0000000' AS DateTime2))
GO
INSERT [dbo].[products] ([id], [vendor_id], [product_name], [category_id], [unit_type], [price_per_unit], [unit_stock], [is_active], [created_at], [updated_at], [deleted_at]) VALUES (2, 3, N'US cow meat', 3, N'measurable', CAST(125000 AS Decimal(10, 0)), 12.5, 1, CAST(N'2024-08-16T03:53:50.0000000' AS DateTime2), CAST(N'2024-08-16T03:53:50.0000000' AS DateTime2), NULL)
INSERT [dbo].[products] ([id], [vendor_id], [product_name], [category_id], [unit_type], [price_per_unit], [unit_stock], [is_active], [created_at], [updated_at], [deleted_at]) VALUES (3, 3, N'Raw sweet corn', 1, N'measurable', CAST(20000 AS Decimal(10, 0)), 3.5, 0, CAST(N'2024-08-16T03:53:50.0000000' AS DateTime2), CAST(N'2024-08-16T03:53:50.0000000' AS DateTime2), NULL)
INSERT [dbo].[products] ([id], [vendor_id], [product_name], [category_id], [unit_type], [price_per_unit], [unit_stock], [is_active], [created_at], [updated_at], [deleted_at]) VALUES (4, 3, N'Chicken breast fillet', 3, N'measurable', CAST(28500 AS Decimal(10, 0)), 24, 1, CAST(N'2024-08-16T03:53:50.0000000' AS DateTime2), CAST(N'2024-08-16T03:53:50.0000000' AS DateTime2), NULL)
GO
SET IDENTITY_INSERT [dbo].[transactions] ON 

INSERT [dbo].[transactions] ([id], [vendor_id], [customer_id], [product_id], [quantity], [total_price], [delivery_cost], [status], [created_at], [updated_at]) VALUES (2, 3, 1, 5, 2, CAST(54000 AS Decimal(10, 0)), CAST(15000 AS Decimal(10, 0)), N'abort', CAST(N'2024-08-17T08:37:15.0000000' AS DateTime2), CAST(N'2024-08-17T09:12:33.0000000' AS DateTime2))
INSERT [dbo].[transactions] ([id], [vendor_id], [customer_id], [product_id], [quantity], [total_price], [delivery_cost], [status], [created_at], [updated_at]) VALUES (3, 3, 1, 4, 0.5, CAST(14250 AS Decimal(10, 0)), CAST(15000 AS Decimal(10, 0)), N'abort', CAST(N'2024-08-17T08:39:43.0000000' AS DateTime2), CAST(N'2026-07-04T11:40:58.0000000' AS DateTime2))
INSERT [dbo].[transactions] ([id], [vendor_id], [customer_id], [product_id], [quantity], [total_price], [delivery_cost], [status], [created_at], [updated_at]) VALUES (4, 3, 1, 5, 2, CAST(54000 AS Decimal(10, 0)), CAST(15000 AS Decimal(10, 0)), N'abort', CAST(N'2024-08-17T08:39:48.0000000' AS DateTime2), CAST(N'2026-07-04T11:40:19.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[transactions] OFF
GO
INSERT [dbo].[users] ([id], [phone_number], [email], [password], [cust_active], [vendor_active], [cust_name], [cust_address], [cust_latitude], [cust_longitude], [vendor_name], [vendor_address], [vendor_latitude], [vendor_longitude], [created_at], [updated_at]) VALUES (1, N'0873956046825', N'rimari025@gmail.com', N'Rimari46825', 1, 1, N'Rimari Shidan', N'Jl. kota Tua No.32', -6.137, 106.838, N'Rimari Grocer', N'Jl. Benyamin Sueb', -6.148, 106.845, CAST(N'2024-08-16T02:26:38.0000000' AS DateTime2), CAST(N'2024-08-16T02:26:38.0000000' AS DateTime2))
INSERT [dbo].[users] ([id], [phone_number], [email], [password], [cust_active], [vendor_active], [cust_name], [cust_address], [cust_latitude], [cust_longitude], [vendor_name], [vendor_address], [vendor_latitude], [vendor_longitude], [created_at], [updated_at]) VALUES (2, N'083277066310', N'anto17@gmail.com', N'Anto66310', 1, 0, N'Antony Reynald', N'Jl. Kedoya Utara No.4', -6.178, 106.762, N'', N'', NULL, NULL, CAST(N'2024-08-16T02:26:38.0000000' AS DateTime2), CAST(N'2024-08-16T02:26:38.0000000' AS DateTime2))
INSERT [dbo].[users] ([id], [phone_number], [email], [password], [cust_active], [vendor_active], [cust_name], [cust_address], [cust_latitude], [cust_longitude], [vendor_name], [vendor_address], [vendor_latitude], [vendor_longitude], [created_at], [updated_at]) VALUES (3, N'088625040024', N'wj.farm@farmer.com', N'Wijaya40024', 0, 1, N'', N'', NULL, NULL, N'WJ Farm', N'Jl. Rego 4, Cadasari', -6.266, 106.122, CAST(N'2024-08-16T02:26:38.0000000' AS DateTime2), CAST(N'2024-08-16T02:26:38.0000000' AS DateTime2))
GO
/****** Object:  Index [category_id]    Script Date: 18/07/2026 10:28:21 ******/
CREATE NONCLUSTERED INDEX [category_id] ON [dbo].[products]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [vendor_id]    Script Date: 18/07/2026 10:28:21 ******/
CREATE NONCLUSTERED INDEX [vendor_id] ON [dbo].[products]
(
	[vendor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [customer_id]    Script Date: 18/07/2026 10:28:21 ******/
CREATE NONCLUSTERED INDEX [customer_id] ON [dbo].[transactions]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [product_id]    Script Date: 18/07/2026 10:28:21 ******/
CREATE NONCLUSTERED INDEX [product_id] ON [dbo].[transactions]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [vendor_id]    Script Date: 18/07/2026 10:28:21 ******/
CREATE NONCLUSTERED INDEX [vendor_id] ON [dbo].[transactions]
(
	[vendor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT (NULL) FOR [name]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT (NULL) FOR [is_active]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (NULL) FOR [vendor_id]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (NULL) FOR [product_name]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (NULL) FOR [category_id]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (NULL) FOR [unit_type]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (NULL) FOR [price_per_unit]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (NULL) FOR [unit_stock]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ('1') FOR [is_active]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (NULL) FOR [deleted_at]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT (NULL) FOR [vendor_id]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT (NULL) FOR [customer_id]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT (NULL) FOR [product_id]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT (NULL) FOR [quantity]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT (NULL) FOR [total_price]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT (NULL) FOR [delivery_cost]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT (NULL) FOR [status]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [phone_number]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [email]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [password]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [cust_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [vendor_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [cust_name]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [cust_latitude]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [cust_longitude]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [vendor_name]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [vendor_latitude]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [vendor_longitude]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_categories]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_users] FOREIGN KEY([vendor_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_users]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [FK_transactions_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [FK_transactions_products]
GO
USE [master]
GO
